.about {
  max-width: 1270px;

  margin-bottom: 90px;
  padding: 0 55px 0 230px;
  box-sizing: border-box;

  position: relative;

  color: $font-color;

  &::before {
    width: 220px;
    height: 317px;

    position: absolute;
    left: 20px;
    top: 4px;

    content: "";
    background-image: url("../img/2005.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    position: absolute;
    content: "";
    width: 877px;
    height: 877px;
    left: -626px;
    top: -402px;
    background-image: url("../img/dotted_polygon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 64px;
    padding: 0 20px 0 213px;

    &::before {
      width: 251px;
      height: 361px;
      left: -8px;
      top: 1px;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
    padding: 0 15px 0 17px;

    &::before {
      display: none;
    }
  }
}

.about__title {
  margin: 0 0 19px;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    margin: 0 0 25px 0;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    margin: 0 0 14px 0;
    margin-left: -3px;
  }
}

.about__text {
  margin: 0 0 20px;

  font-size: 16px;
  line-height: 22px;

  @media (max-width: $mobile-min-width) {
    margin-bottom: 40px;
  }
}

.about__span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about__dots {
  display: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  @media (max-width: $tablet-width) {
    display: inline;
  }
}

.about__continue {
  @media (max-width: $tablet-width) {
    display: none;
  }
}


.about__more {
  min-width: 180px;
  margin: 21px 0 20px;
  padding: 12px 23px 13px 24px;
  box-sizing: border-box;

  display: inline-block;
  text-align: center;

  font-family: $font-secondary;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-blue;
  line-height: 16px;

  border: 1px solid $main-blue;
  border-radius: 5px;

  &:hover {
    color: $white;
    background-color: $main-blue;
  }

  @media (max-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (max-width: $mobile-min-width) {
    margin-top: -8px;
  }
}
