.advantages {
  max-width: 1170px;
  padding: 0 50px;
  position: relative;

  &::before {
    width: 268px;
    height: 268px;

    position: absolute;
    top: -70px;
    left: -164px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/triangle.svg");
    transform: rotate(90deg);
  }

  &::after {
    width: 877px;
    height: 877px;

    position: absolute;
    bottom: -250px;
    left: 230px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/dotted-polygon.svg");
    transform: rotate(180deg);
  }

  @media (max-width: $tablet-width) {
    padding: 0 25px;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: 37px;
  }

  @media (max-width: $mobile-min-width) {
    padding: 0 16px 0 13px;
  }
}

.advantages ul {
  max-width: 1173px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    width: 264px;
    height: 277px;

    position: absolute;
    top: 340px;
    right: -390px;

    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/triangle.svg");
    transform: rotate(270deg);
  }
}

.advantages__item {
  width: calc(100% / 12 * 6 - 15px);
  min-height: 299px;

  margin: 0 0 30px 0;
  padding: 69px 38px 25px 43px;

  position: relative;
  box-sizing: border-box;
  z-index: 10;
  background-color: $white;

  border: 1px solid $border-color;
  border-left: 3px solid $main-blue;

  &:hover,
  &:focus {
    color: $white;
    background-color: $main-blue;
    outline: 0;
  }

  @media (max-width: $tablet-width) {
    min-height: 233px;
    padding: 34px 20px 20px 24px;

    &--detective {
      padding-top: 39px;
    }

    &--tag {
      padding-top: 36px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 232px;
    margin: 0 0 20px;
  }

  @media (max-width: $mobile-min-width) {
    padding: 39px 15px 25px 25px;
    margin-bottom: 22px;

    &--supplier {
      padding-top: 34px;
      padding-right: 12px;
      padding-bottom: 31px;
      margin-bottom: 20px;
    }

    &--detective {
      margin-bottom: 20px;
    }

    &--tag {
      padding-bottom: 21px;
    }

    &:last-child {
      padding-right: 15px;
      margin-bottom: 31px;
    }
  }
}

.advantages__icon {
  position: absolute;
  top: 39px;
  left: 42px;

  fill: $main-blue;

  @media (max-width: $tablet-width) {
    top: 25px;
    left: 25px;

    &--tag {
      top: 23px;
      left: 23px;
    }

    &--detective {
      top: 26px;
      left: 23px;
      width: 34px;
      height: 27px;
    }
  }

  @media (max-width: $mobile-min-width) {
    &--stopwatch {
      top: 23px;
      left: 26px;
    }

    &--hired {
      top: 21px;
      left: 23px;
    }

    &--detective {
      width: 30px;
      height: 26px;
      top: 24px;
      left: 25px;
    }

    &--tag {
      left: 25px;
    }
  }
}

.advantages__item:hover .advantages__icon,
.advantages__item:focus .advantages__icon {
  fill: $white;
}

.advantages__item:hover h3,
.advantages__item:focus h3 {
  color: $white;
}

.advantages h3 {
  margin: 25px 0 15px;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  color: $main-blue;
  line-height: 34px;

  @media (max-width: $tablet-width) {
    margin: 33px 0 7px;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 28px;
  }
}

.advantages p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: $font-color;
}

.advantages__item--detective h3 {
  margin: 24px 0 15px 0;
}

.advantages__item--tag h3 {
  margin-top: 29px;
  margin-bottom: 15px;

  @media (max-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 15px;
  }
}
