.contact {
  display: flex;
  flex-direction: column;
  width: 366px;

  @media (max-width: $tablet-width) {
    width: 333px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    width: 100%;
    padding: 0 25px;
  }

  @media (max-width: $mobile-min-width) {
    padding-left: 15px;
  }
}

.contact h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $main-dark-bg;

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 29px 25px;
  }

  @media (max-width: $mobile-min-width) {
    max-width: 286px;
    padding: 29px 0;

    box-sizing: border-box;
  }
}

.contact__block {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $main-dark-bg;
  opacity: 0.5;

  @media (max-width: $mobile-width) {
    margin-left: 25px;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-min-width) {
    margin: 0;
  }
}

.contact__block a {
  &:hover,
  &:focus {
    color: $main-blue;
    opacity: 1;
  }
}

.contact__phone {
  color: $main-dark-bg;
  text-decoration: none;
}

.contact__button {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    right: 60px;
    top: 28px;
  }

  @media (max-width: $mobile-min-width) {
    right: 19px;
  }
}
