.copyright {
  width: 100%;
  padding-top: 15px;
  margin-bottom: 15px;

  font-size: 13px;
  letter-spacing: 0.04em;
  line-height: 24px;
  text-transform: uppercase;
  border-top: 1px solid $footer-border;
}

.copyright__wrapper {
  max-width: 1412px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-dark-bg;
  opacity: 0.5;

  .copyright__studio,
  .copyright__condition {
    color: $main-dark-bg;
    text-decoration: none;
  }

  @media (max-width: $tablet-width) {
    margin: 7px 26px 0 27px;
    padding: 0;
    justify-content: space-between;
  }

  @media (max-width: $mobile-min-width) {
    margin: 0 auto;
    justify-content: center;
    margin-top: 14px;
  }
}

.copyright__text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.copyright__term {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.copyright__condition,
.copyright__studio {
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.copyright__condition {
  @media (max-width: $mobile-min-width) {
    margin-bottom: 20px;
  }
}
