.copyright {
    width: 100%;
    padding-top: 14px;
    margin-bottom: 15px;

    font-size: 13px;
    letter-spacing: .04em;
    line-height: 24px;
    text-transform: uppercase;
    border-top: 1px solid rgba(98,105,98,.2);
}

.copyright__wrapper {
    max-width: 1476px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;

    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: $main-dark-bg;
    opacity: 0.5;

    & a {
        color: $main-dark-bg;
        text-decoration: none;
    }
}
