.form {
  width: 570px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  z-index: 10;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-min-width) {
    max-width: 290px;
    flex-direction: column;
  }
}

.form__field input,
.form__textarea textarea {
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline-color: $white;
  color: $white;
  font-size: 16px;
  line-height: 22px;

  &::-webkit-input-placeholder {
    color: $white;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $white;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $white;
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.35);
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
  }
}

.form__field input {
  width: 257px;
  height: 50px;
  padding: 6px 16px 10px 16px;

  @media (max-width: $tablet-width) {
    width: 279px;
    height: 52px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (max-width: $mobile-min-width) {
    width: 290px;
  }
}

.form__textarea textarea {
  width: 570px;
  height: 154px;

  margin-bottom: 40px;
  padding: 6px 14px;
  resize: none;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    width: 590px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (max-width: $mobile-min-width) {
    width: 290px;
    height: 104px;

    padding: 13px 14px 13px 17px;

    margin-bottom: 33px;
  }
}

.form__name,
.form__phone {
  margin: 0 0 45px;
  padding: 0;

  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    margin: 0 0 53px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form__field {
  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 30px;

    &--phone {
      margin-bottom: 33px;
    }
  }
}

.form__field--question {
  margin: 0;
}

.form__consent {
  width: 224px;
  margin: 0;
  padding: 6px 9px 5px 33px;

  font-size: 14px;
  line-height: 16px;

  @media (max-width: $tablet-width) {
    width: 231px;
  }

  @media (max-width: $mobile-min-width) {
    width: 248px;
  }
}

.form__consent label {
  position: relative;
  cursor: pointer;

  &::before {
    width: 16px;
    height: 16px;

    display: block;
    position: absolute;
    top: 0;
    left: -33px;

    content: "";
    border: 1px solid $white;
  }
}

.form__consent input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.form__consent input:checked + label::after {
  width: 15px;
  height: 12px;

  display: block;
  position: absolute;
  left: -31px;
  top: 4px;
  content: "";

  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.form__consent input:hover + label::before,
.form__consent input:focus + label::before {
  border-color: rgba(255, 255, 255, 0.3);
}

.form__button {
  width: 265px;
  min-height: 45px;

  margin: -2px 0 0;
  border: 1px solid $white;
  border-radius: 5px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $white;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    width: 279px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-min-width) {
    margin-bottom: 25px;
  }
}
