.form {
  width: 570px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  z-index: 10;
}

.form__input {
  width: 270px;
  height: 50px;

  // margin: 0 0 40px;
  // padding: 6px 16px 10px;

  font-family: $font-main;

  border: 0;
  // background-color: rgba(255, 255, 255, 0.1);

  &:--text {
    width: 570px;
    height: 154px;
  }
}

.form__button {
  width: 270px;

  background-color: $main-blue;
}
