.logo {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.logo img {
  margin-right: 16px;

  @media (max-width: $mobile-min-width) {
    width: 38px;
    height: 38px;
  }
}

.logo:hover img,
.logo:focus img {
  transform: scale(1.2);
  transition: 0.4s;
}

.logo__text {
  margin-top: 9px;

  @media (max-width: $mobile-min-width) {
    display: none;

    &--footer {
      display: block;
    }
  }
}

.logo__text div:first-of-type {
  color: $white;
  font-family: $font-secondary;
  font-size: 25px;
  font-weight: 700;
}

.logo__text--footer div:first-of-type {
  color: $logo-dark;
}

.logo__text div:nth-of-type(2),
.logo__text--footer div:nth-of-type(2) {
  color: $logo-gray;
  font-family: $font-logo;
  font-size: 12px;
  font-weight: 500;
}
