.logo {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.logo__img {
  margin-right: 16px;

  @media (max-width: $mobile-min-width) {
    width: 38px;
    height: 38px;
  }
}

.logo__img--footer {
  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }

  @media (max-width: $mobile-min-width) {
    margin-left: 20px;
  }
}

.logo__text {
  margin-top: 9px;

  // @media (max-width: $tablet-width) {
  //   margin-top: 8px;
  // }

  @media (max-width: $mobile-min-width) {
    display: none;

    &--footer {
      display: block;
    }
  }
}

.logo__text-name {
  color: $white;
  font-family: $font-secondary;
  font-size: 25px;
  // line-height: 29px;
  font-weight: 700;
}

.logo__text-name--footer {
  color: $logo-dark;
}

.logo__text-description {
  color: $logo-gray;
  font-family: $font-logo;
  font-size: 12px;
  font-weight: 500;
}
