.page-header {
  background-color: $main-dark-bg;
  display: flex;

  @media (max-width: $mobile-min-width) {
    height: 55px;
  }
}

.page-header__logo {
  max-width: 202px;
}

.page-header__wrapper {
  width: 1413px;
  margin: 33px auto 0;
  padding: 0 50px;

  z-index: 20;
  display: flex;
  justify-content: space-between;

  color: $white;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    padding: 0 23px 20px 25px;
  }

  @media (max-width: $mobile-min-width) {
    padding: 0 17px 0 17px;
    margin-top: 17px;
  }
}

.page-header__nav {
  max-width: 800px;
  height: 52px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 2px;

  @media (max-width: $tablet-width) {
    min-width: 85px;
    height: 53px;

    justify-content: space-between;
  }
}

.page-header__mail {
  position: relative;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 31px;
    margin: 0;
  }

  @media (max-width: $mobile-min-width) {
    &::before {
      left: 16px;
      top: -2px;
    }
  }
}

.page-header__mail svg {
  position: absolute;

  width: 19px;
  height: 14px;
  left: -38px;
  top: 4px;

  fill: $main-blue;

  @media (max-width: $tablet-width) {
    width: 25px;
    height: 19px;

    left: 2px;
  }

  @media (max-width: $mobile-min-width) {
    left: 16px;
    top: -2px;
  }
}

.page-header__call {
  margin-left: 123px;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 36px;
    margin: 0;
    margin-left: 20px;
  }
}

.page-header__call svg {
  width: 18px;
  height: 18px;

  position: absolute;
  content: "";
  left: -34px;
  top: 2px;

  fill: $main-blue;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;

    left: 6px;
  }

  @media (max-width: $mobile-min-width) {
    top: -3px;
    left: 10px;
  }
}

.page-header__mail a,
.page-header__call a {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;

  text-decoration: none;
  color: $white;
  background-color: transparent;
}

.page-header__mail span,
.page-header__call span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__callback {
  max-width: 185px;
  margin-left: 49px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__mail:hover svg,
.page-header__call:hover svg,
.page-header__mail:focus svg,
.page-header__call:focus svg {
  fill: $nav-hover;
}
