.page-footer {
    box-sizing: border-box;
    background-color: $footer-bg;
}

.page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.page-footer__logo {
    margin-bottom: 52px;
}

.page-footer__info {
    max-width: 1476px;
    width: 100%;
    margin: 65px auto 0;
    margin-bottom: 55px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
}

.page-footer__sitemap {
    min-width: 450px;
}

.page-footer__contact {
    width: 450px;
    display: flex;
    flex-direction: column;
}