.page-main {
  scroll-behavior: smooth;
  min-height: 800px;
}

.page-main__wrapper {
  margin: -90px 0 0;

  background-color: $main-dark-bg;
  background-size: cover;
  background-image: url("../img/bg-pattern.png");

  @media (max-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-main__main {
  max-width: 1623px;

  margin: 0 auto;
  padding: 0 0 0 201px;

  overflow: hidden;

  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 500px;
    background-image: url("../img/2-dotted-polygons.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 192px;
    right: 157px;
    transform: scale(1.28);
  }

  @media (max-width: $tablet-width) {
    height: 683px;

    padding-left: 88px;

    &::before {
      width: 400px;
      height: 400px;

      top: 23px;
      right: -135px;
      transform: scale(1.32);
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;

    &::before {
      width: 473px;
      height: 300px;
      top: 100px;
      right: -200px;
    }
  }

  @media (max-width: $mobile-min-width) {
    &::before {
      width: 420px;
      height: 215px;

      top: 123px;
      right: -512px;
      transform: scale(2.24);
    }
  }
}

.page-main__text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    max-width: 440px;
    margin: 0 -20px 0 0;
    z-index: 15;
    flex-shrink: 0;
  }

  @media (max-width: $mobile-width) {
    flex-shrink: 1;

    margin: 0;
    margin-top: 321px;
  }
}

.page-main__text-container div:first-of-type {
  margin: 0 0 28px 0;
  padding-top: 319px;

  position: relative;

  font-family: $font-secondary;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;

  z-index: 10;

  @media (max-width: $tablet-width) {
    width: 470px;

    padding-top: 184px;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    width: auto;

    margin: 0 0 26px 0;
    padding: 0;

    line-height: 47px;
    font-size: 40px;
  }
}

.page-main__text-container span {
  max-width: 683px;
  margin: 0 0 44px;
  padding-left: 98px;
  position: relative;
  z-index: 5;

  font-family: $font-main;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $white;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $white;
    left: 4px;
    top: 16px;
  }

  @media (max-width: $tablet-width) {
    width: 356px;

    margin-bottom: 57px;
    padding-left: 51px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
    }
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }

  @media (max-width: $mobile-min-width) {
    width: 245px;
    margin-bottom: 42px;

    font-size: 16px;
    line-height: 25px;
  }
}

.page-main__consult {
  width: 407px;

  margin: 0 0 132px 98px;
  padding: 16px 45px 19px 45px;
  position: relative;
  box-sizing: border-box;
  z-index: 5;

  font-family: $font-secondary;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $main-blue;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $main-blue;
    background-color: $white;
  }

  @media (max-width: $tablet-width) {
    width: 380px;

    padding-left: 32px;
    padding-right: 30px;
    margin-left: 50px;
  }

  @media (max-width: $mobile-width) {
    width: 287px;
    margin: 0 auto;

    &--desktop {
      display: none;
    }
  }

  @media (max-width: $mobile-min-width) {
    display: none;
  }
}

.page-main__consult--mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $mobile-width) {
    display: inline-block;
    padding-left: 32px;
    margin-left: 2px;
  }
}

.page-main__scroll-down {
  margin: 0 0 127px -35px;

  color: $white;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  text-decoration: none;
  transform: rotate(-90deg);
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-main__picture-container {
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    max-width: 420px;
    margin: 0 0 0 -4px;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    margin: 0;
    padding: 0 0 0 14px;
    right: 0;
    z-index: 10;
  }
}

.page-main__picture-container img {
  width: 85%;
  height: auto;

  position: relative;
  padding-top: 258px;
  padding-right: 134px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 110px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    width: 295px;

    top: 126px;
    right: 0;

    margin: 0;
    padding: 0;
  }
}

.page-main__advantages {
  margin: 112px auto 76px;

  @media (max-width: $tablet-width) {
    margin: 53px auto 24px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
  }
}

.page-main__about {
  margin: 0 auto;
}
