.social {
  width: 150px;

  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: 127px;
  }

  @media (max-width: $mobile-min-width) {
    margin: 30px 0 49px;
    width: 113px;
  }
}

.social__item {
  margin-right: 15px;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-min-width) {
    &:last-child {
      margin: 0;
    }
  }
}

.social__link:hover,
.social__link:focus {
  opacity: 0.7;
}
