.social {
  padding: 0;
  list-style: none;

  display: flex;
}

.social__item {
  margin-right: 15px;

  display: flex;
  flex-wrap: wrap;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.7;
}
