@font-face {
    font-family: "PTMono-Regular";
    src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
      url("../fonts/PTMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "RobotoCondenced-Bold";
    src: url("../fonts/RobotoCondenced-Bold.woff2") format("woff2"),
      url("../fonts/RobotoCondenced-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "RobotoCondenced-Regular";
    src: url("../fonts/RobotoCondenced-Regular.woff2") format("woff2"),
      url("../fonts/RobotoCondenced-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }