$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$font-logo: "Roboto", "Arial", sans-serif;
$font-main: "PT Mono", "Courier New", monospace;
$font-secondary: "Roboto Condensed", "Arial", sans-serif;

$white: #FFFFFF;
$logo-gray: #788891;
$main-blue: #00B2FF;
$main-dark-bg: #1b2d37;
$font-color: #666666;
$border-color: #EBEBEB;
$icon-color: #CDCDCD;

