$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$font-logo: "Roboto", "Arial", sans-serif;
$font-main: "PT Mono", "Courier New", monospace;
$font-secondary: "Roboto Condensed", "Arial", sans-serif;

$white: #ffffff;
$logo-gray: #788891;
$logo-dark: #203c42;
$main-blue: #00b2ff;
$main-dark-bg: #1b2d37;
$font-color: #666666;
$border-color: #ebebeb;
$icon-color: #cdcdcd;
$footer-bg: #fafafa;
$footer-border: rgba(98, 105, 98, 0.2);
